<div id="header">
    {% if site_name %}
    <div id="site-title">
        <h1 class="title is-1">{{ site_name }}</h1>
    </div>
    {% endif %}
    <div id="main-menu">
        {{ page.primary_menu }}
    </div>
</div>
<div id="wrapper">
    {% if page.highlighted %}
    <div id="featured-links">
        {{ page.highlighted }}
    </div>
    {% endif %}
    {% if page.sidebar_first %} 
    <div id="sidebar-first">
        {{ page.sidebar_first }}
    </div>
    {% endif %}
    {% if page.sidebar_second %} 
    <div id="sidebar-second">
        {{ page.sidebar_second }}
    </div>
    {% endif %}
    <div id="page-content">
        {{ page.content }}
    </div>
    <footer class="footer" id="footer">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
        <div class="container">
            {{ page.footer_first }}
            {{ page.footer_second }}
            {{ page.footer_third }}
            {{ page.footer_fourth }}
        </div>
        {% else %}
        <div class="container">
            <div class="content has-text-centered">
                {% if page.footer %}    
                    {{ page.footer }}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </footer>
</div>
