<div id="header">
    {% if site_name %}
    <div id="site-title">
        <h1 class="title is-1">{{ site_name }</h1>
    </div>
    {% endif %}
    {% $main_menu = menu_navigation_links('main-menu'); %}
    <div id="main-menu">
        {% print theme('links__menu_main_menu', array('links' => $main_menu)); %}
    </div>
</div>
<div id="wrapper">
    {% if page.highlighted %}
    <div id="featured-links">
        {{ page.highlighted }}
    </div>
    {% endif %}
    {% if page.sidebar_first %} 
    <div id="sidebar-first">
        {{ page.sidebar_first }}
    </div>
    {% endif %}
    <div id="page-content">
        {{ page.content }}
    </div>
    {% if page.sidebar_second %} 
    <div id="sidebar-second">
        {{ page.sidebar_second }}
    </div>
    {% endif %}
</div>
<footer class="footer" id="footer">
    <div class="container">
        <div class="content has-text-centered">
            {% if page.footer %}    
                {{ page.footer }
            {% endif %}
        </div>
    </div>
</footer>