<div class="page-wrapper">
    <header id="header">
        <div class="container">
            <div class="columns is-multiline is-gapless">
                {% if site_name %}
                <div class="site-title-wrapper column is-12">
                    <div id="site-title">
                        <h1 class="title is-1">{{ site_name }}</h1>
                    </div>
                </div>
                {% endif %}
                <div id="main-menu" class="column is-12">
                    {{ page.main_menu }}
                </div>
                <div id="search" class="column is-12">
                    {{ page.site_search }}
                </div>
            </div>
        </div>
    </header>
    {% if page.highlighted %}
    <section id="highlighted" class="column">
        {{ page.highlighted }}
    </section>
    {% endif %}
    <section id="main">
        <div class="container">
            <div class="columns">
                {% if page.sidebar_first %}
                <div id="page-title" class="column is-half is-offset-one-quarter">
                {% else %}
                <div id="page-title" class="column is-half">
                {% endif %}
                    <h2 class="title is-2">{{ node.label }}</h2>
                </div>
            </div>
            <div id="content-wrapper" class="columns">
            {% if page.sidebar_first %} 
            <aside id="sidebar-first" class="column is-one-quarter">
                {{ page.sidebar_first }}
            </aside>
            {% endif %}
            <article id="page-content" class="column content">
                {{ page.content }}
            </article>
            {% if page.sidebar_second %} 
            <aside id="sidebar-second" class="column is-one-quarter">
                {{ page.sidebar_second }}
            </aside>
            {% endif %}
            </div>
        </div>
    </section>
    <footer class="footer" id="footer">
        <div class="container">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
        <div class="columns">
            <div class="column" id="footer_first">{{ page.footer_first }}</div>
            <div class="column" id="footer_second">{{ page.footer_second }}</div>
            <div class="column" id="footer_third">{{ page.footer_third }}</div>
            <div class="column" id="footer_fourth">{{ page.footer_fourth }}</div>
        </div>
        {% endif %}
        {% if page.footer %}
        <div class="columns">
            <div class="column has-text-centered">
                {% if page.footer %}    
                    {{ page.footer }}
                {% endif %}
            </div>
        </div>
        {% endif %}
        </div>
    </footer>
</div>