<div class="page-wrapper">
    <div id="header">
        {% if site_name %}
        <div id="site-title">
            <h1 class="title is-1">{{ site_name }}</h1>
        </div>
        {% endif %}
        <div id="main-menu">
            {{ page.main_menu }}
        </div>
    </div>
    {% if page.highlighted %}
    <div id="highlighted" class="column">
        {{ page.highlighted }}
    </div>
    {% endif %}
    <div id="content-wrapper" class="columns">
        {% if page.sidebar_first %} 
        <div id="sidebar-first" class="column is-one-quarter">
            {{ page.sidebar_first }}
        </div>
        {% endif %}
        <div id="page-content" class="column">
            {{ page.content }}
        </div>
        {% if page.sidebar_second %} 
        <div id="sidebar-second" class="column is-one-quarter">
            {{ page.sidebar_second }}
        </div>
        {% endif %}
    </div>
    <footer class="footer" id="footer">
        {% if page.footer_first or page.footer_second or page.footer_third or page.footer_fourth %}
        <div class="columns">
            <div class="column" id="footer_first">{{ page.footer_first }}</div>
            <div class="column" id="footer_second">{{ page.footer_second }}</div>
            <div class="column" id="footer_third">{{ page.footer_third }}</div>
            <div class="column" id="footer_fourth">{{ page.footer_fourth }}</div>
        </div>
        {% endif %}
        {% if page.footer %}
        <div class="columns">
            <div class="column has-text-centered">
                {% if page.footer %}    
                    {{ page.footer }}
                {% endif %}
            </div>
        </div>
        {% endif %}
    </footer>
</div>